<!DOCTYPE html>
<html>
 <head>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> 
   <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

   <link rel="SHORTCUT ICON" type="image/x-icon" href={{ url_for('static', filename='images/favicon.ico') }}/>

<!--   <link rel="stylesheet" href= "static/css/bootstrap.min.css" />                                                                  
   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
   <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />  !-->


 </head>

 <body>
 
 <form id = "input" name = "input" action="/" method="post">
    {{ form.csrf_token }}
    {{ form.name.label }}
 <br>
 <br>
 <br>
    {{form.name(size=4000)}} 
 <br>
 <input type="submit" value = "Rate"> 
</form>
 
 
 <script language="javascript" type="text/javascript">
   function resizeIframe(obj) {
     obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
   }
 </script>
 
 </body>
</html>
