<!DOCTYPE html>                                                                      
<!--http://www.youtube.com/watch?feature=player_embedded&v=OBk3ynRbtsw-->            
<html>                                                                               
    <head>                                                                           
        <title>{{ title }}</title>                                                   
        <meta charset="utf-8" />                                                     
        <link rel="SHORTCUT ICON" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">                                                
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.8.3.min.js') }}"></script>
    </head>
